{{template "base" .}}

{{define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About page</h1>
                <p>some text here</p>
                <a href="/">Home page</a>
            </div>
            <p>This came from the template: {{.StringMap.test}}</p>
            {{/*            another way to get context*/}}
            <p>This came from the template using another way in code: {{index .StringMap "test"}}</p>

            {{if ne (index .StringMap "remote_ip") ""}}
                Your remote IP address is: {{.StringMap.remote_ip}}
            {{else}}
                I don't know your IP addr so you need to visit home page
            {{end}}
        </div>
    </div>
{{end}}